build/__pycache__/
boot/__pycache__/
**/__pycache__/
*.pyc

build/obj/
build/rust-target/
build/EFI/
build/*.img
build/*.efi
build/*.fd
build/*.exe
build/*.o
build/*-local.exe
build/uefi_probe*
build/uefi_tiny*
build/uefi_noshared_anchor*
build/manual_bootx64.efi
build/lunaos_disk_manual*.img
build/lunaos_disk_tiny.img

toolchains/

artifacts/**/*.tmp
artifacts/**/*.bak
artifacts/downloads/
artifacts/lunaos/*.exe
artifacts/lunaos/*.zip
artifacts/lunaos/*.msi
